<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diabetescarelink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Services"></activity>
        <activity
            android:name=".Getorders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Dialogbox" />
        <activity android:name=".Shop" />
        <activity
            android:name=".Getdrugs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Drugs_costs" />
        <activity android:name=".Manuciristlogin" />
        <activity android:name=".Manicuristregistration" />
        <activity
            android:name=".Getphysiothelapist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Getdietitians"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Getpharmacies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Getnurses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Getdoctors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Getpatients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".topnavigation" />
        <activity
            android:name=".account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".physiothelapyprofile" />
        <activity android:name=".physiothelapysettings" />
        <activity android:name=".pharmsettings" />
        <activity android:name=".docprofile" />
        <activity
            android:name=".dietitiansettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".docsettings" />
        <activity android:name=".nursesettings" />
        <activity android:name=".nurseregistration" />
        <activity android:name=".pharmprofile" />
        <activity
            android:name=".dietitianprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".nurseprofile" />
        <activity android:name=".physiothelapistlogin" />
        <activity android:name=".pharmlogin" />
        <activity android:name=".Dietitianlogin" />
        <activity android:name=".doclogin" />
        <activity android:name=".nurselogin" />
        <activity
            android:name=".BMIcalculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".about" />
        <activity android:name=".profile" />
        <activity android:name=".changepassword" />
        <activity android:name=".Physiothelapyhome" />
        <activity
            android:name=".Physiothelapylink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dietitianlink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doctorlink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Physiothelapyregistration" />
        <activity android:name=".dietitianregistration" />
        <activity android:name=".Pharmacyhome" />
        <activity android:name=".Appointments" />
        <activity
            android:name=".Nurselink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Excercisemonitor" />
        <activity android:name=".Followup" />
        <activity android:name=".Nutritionmonitor" />
        <activity android:name=".Healthworkers" />
        <activity android:name=".NurseHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Dietitianhome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Pharmregistration" />
        <activity
            android:name=".Dochome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".List" />
        <activity android:name=".Help" />
        <activity android:name=".Patientregistration" />
        <activity android:name=".docregistration" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>